/* Adjust the size of the carousel */
.carousel {
  width: 100%;
  height: 500px;
  margin-top: 10px;
}

/* Center the carousel */
.carousel-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Adjust the size of the images */
.carousel img {
  max-height: 100%;
  max-width: 100%;
}

/* Hide the carousel indicators and controls */
.carousel-indicators,
.carousel-control-prev,
.carousel-control-next {
  display: none;
}
