nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
}

#logo {
  display: flex;
  flex-direction: row;
  /* padding: 10px; */
}

#logo img {
  width: 50px;
  height: 50px;
}

#logo h1 {
  /* center vertically */
  display: flex;
  align-items: center;
}


#hamburger {
  justify-content: right;
}

#hamburger:hover {
  background-color: red;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  transition: 0.5s;
  
}

.burger_line {
  background-color: black;
  width: 20px;
  height: 3px;
  margin-bottom: 4px;
  margin-right: 8px;
  position: sticky;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}