/* * {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  overflow: hidden;
}

.title {
  padding-top: 80px; 
}


.sticky a {
  text-decoration: none;
  color: black;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}


body {
  background-color: #808080;
} */

/* Navbar */
.navbar {
  margin-bottom: 0;
}

/* Title */
.title {
  margin-top: 80px;
  text-align: center;
}

.carousel-indicators button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
