* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  /* overflow: hidden; */
}

.display_menu {

}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.strip_image {
  margin-bottom: 20px;
}

body {
  background-color: #808080;
}