* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  overflow: hidden;
}

html {
  height: calc(100% - 120px - 56px - 30px);
}

body {
  background-color: #808080;
  height: 100%;
}

/* Navbar */
.navbar {
  margin-bottom: 0;
}

/* Title */
.title {
  padding-top: 16px;
  font-size: 80px;
}

.modal-dialog {
  max-width: 90%;
  max-height: 90%;
  margin: 0 auto;
  background-color: transparent;
}

.modal-content {
  height: 100%;
  padding: 0;
  border: none;
  margin: 0;
}

.modal-body {
  padding: 0;
  margin: 0;
}
